In [44]:
import numpy as np
import pandas as pd
import joblib

In [45]:
test_data = pd.read_csv("test.csv")
# test_data.info()

In [46]:
model = joblib.load("logistic_model.pkl")
full_pipeline = joblib.load("full_pipeline.joblib")

tr_test_data = full_pipeline.transform(test_data)

In [47]:
# from sklearn.preprocessing import MinMaxScaler
# mms = MinMaxScaler()
# model_pred = model.predict(tr_test_data)
# model_proba = model.decision_function(tr_test_data)
# model_proba = mms.fit_transform(model_proba.reshape(-1, 1))
# model_proba

In [48]:
model_proba = model.predict_proba(tr_test_data)[:, 1]

In [49]:
output_data = test_data[["id"]]
output_data = output_data.join(pd.DataFrame(model_proba, columns=["rainfall"]))
output_data.to_csv("output_logistic.csv", index=False)

In [50]:
output_data

       id  rainfall
0    2190  0.985459
1    2191  0.984387
2    2192  0.937502
3    2193  0.113456
4    2194  0.056557
..    ...       ...
725  2915  0.966851
726  2916  0.892395
727  2917  0.967085
728  2918  0.982842
729  2919  0.910994

[730 rows x 2 columns]