In [30]:
import numpy as np
import pandas as pd
import joblib

In [31]:
test_data = pd.read_csv("test.csv")
# test_data.info()

In [32]:
model = joblib.load("knn_model.pkl")
full_pipeline = joblib.load("full_pipeline.joblib")

tr_test_data = full_pipeline.transform(test_data)

In [33]:
# from sklearn.preprocessing import MinMaxScaler
# mms = MinMaxScaler()
# model_pred = model.predict(tr_test_data)
# model_proba = model.decision_function(tr_test_data)
# model_proba = mms.fit_transform(model_proba.reshape(-1, 1))
# model_proba

In [34]:
model_proba = model.predict_proba(tr_test_data)[:, 1]

In [35]:
output_data = test_data[["id"]]
output_data = output_data.join(pd.DataFrame(model_proba, columns=["rainfall"]))
output_data.to_csv("output_knn.csv", index=False)

In [36]:
output_data

       id  rainfall
0    2190  0.960556
1    2191  0.966631
2    2192  0.890776
3    2193  0.569210
4    2194  0.513584
..    ...       ...
725  2915  0.924446
726  2916  0.852000
727  2917  0.916755
728  2918  0.941494
729  2919  0.875229

[730 rows x 2 columns]