In [18]:
import numpy as np
import pandas as pd
import joblib

In [19]:
test_data = pd.read_csv("test.csv")
# test_data.info()

In [20]:
model = joblib.load("best_logistic_model_no_day.pkl")
full_pipeline = joblib.load("full_pipeline_no_day.joblib")

tr_test_data = full_pipeline.transform(test_data)

In [21]:

tr_test_data = full_pipeline.transform(test_data)

In [22]:
# from sklearn.preprocessing import MinMaxScaler
# mms = MinMaxScaler()
# model_pred = model.predict(tr_test_data)
# model_proba = model.decision_function(tr_test_data)
# model_proba = mms.fit_transform(model_proba.reshape(-1, 1))
# model_proba

In [23]:
model_proba = model.predict_proba(tr_test_data)[:, 1]

In [24]:
output_data = test_data[["id"]]
output_data = output_data.join(pd.DataFrame(model_proba, columns=["rainfall"]))
output_data.to_csv("output_best_logistic_model_no_day.csv", index=False)

In [25]:
output_data

       id  rainfall
0    2190  0.984726
1    2191  0.983427
2    2192  0.937009
3    2193  0.107602
4    2194  0.056079
..    ...       ...
725  2915  0.967788
726  2916  0.895511
727  2917  0.968403
728  2918  0.983130
729  2919  0.914361

[730 rows x 2 columns]