In [89]:
import numpy as np
import pandas as pd
import joblib

In [90]:
from sklearn.base import BaseEstimator, TransformerMixin

class AddDewpointDepression(BaseEstimator, TransformerMixin):
    def __init__(self):
        pass
    def fit(self, X, y=None):
        return self
    def transform(self, X, y=None):
        dew_point_depression = X[:, 3] - X[:, 5]
        temp_diff = X[:,2] - X[:,4]
        wind_chill = X[:,3] * X[:,10]
        return np.c_[X, dew_point_depression, temp_diff, wind_chill]

In [91]:
test_data = pd.read_csv("test.csv")
# test_data.info()

In [92]:
model = joblib.load("best_logistic_model_temp_diff.pkl")
full_pipeline = joblib.load("full_pipeline_temp_diff.joblib")

tr_test_data = full_pipeline.transform(test_data)

In [93]:

tr_test_data = full_pipeline.transform(test_data)

In [94]:
pd.DataFrame(tr_test_data).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 730 entries, 0 to 729
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       730 non-null    float64
 1   1       730 non-null    float64
 2   2       730 non-null    float64
 3   3       730 non-null    float64
 4   4       730 non-null    float64
 5   5       730 non-null    float64
 6   6       730 non-null    float64
 7   7       730 non-null    float64
 8   8       730 non-null    float64
 9   9       730 non-null    float64
 10  10      730 non-null    float64
 11  11      730 non-null    float64
 12  12      730 non-null    float64
 13  13      730 non-null    float64
dtypes: float64(14)
memory usage: 80.0 KB

In [95]:
# from sklearn.preprocessing import MinMaxScaler
# mms = MinMaxScaler()
# model_pred = model.predict(tr_test_data)
# model_proba = model.decision_function(tr_test_data)
# model_proba = mms.fit_transform(model_proba.reshape(-1, 1))
# model_proba

In [96]:
model_proba = model.predict_proba(tr_test_data)[:, 1]

In [97]:
output_data = test_data[["id"]]
output_data = output_data.join(pd.DataFrame(model_proba, columns=["rainfall"]))
output_data.to_csv("output_best_logistic_model_temp_diff.csv", index=False)

In [98]:
output_data

       id  rainfall
0    2190  0.984726
1    2191  0.983035
2    2192  0.942872
3    2193  0.099354
4    2194  0.052093
..    ...       ...
725  2915  0.963382
726  2916  0.901008
727  2917  0.967938
728  2918  0.982202
729  2919  0.904440

[730 rows x 2 columns]